*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('../image/Family pic.jpg.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  background: cover;

}
.backgroud{
  
  font-weight: bolder;
  font-family: arial;
 
}
.background h1{
  top: 20%;
  font-size: 30px;
  color: skyblue;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: justify;

 }
.background p{
text-align: justify;
color: yellowgreen;
font-weight: bold;
font-size: 30px;


}
.background li{
  text-align: justify;
  color: yellow;
  font-weight: bold;
font-size: 30px;
}
.background h2{
  top: 20%;
  color: skyblue;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: justify;
  font-size: 30px;
}
